/* You can add global styles to this file, and also import other style files */

html {
  background-blend-mode: multiply;
  background-color: #ba6;
  background-image: url(https://dl.dropboxusercontent.com/s/jyzol1bxl6jrnhi/greyfloral.png);
  font-family: 'Finger Paint', cursive;
  font-size: 20px;
  height: 100%;
  overflow: hidden;
  text-align: center;
}